[Unit]
Description=Battery Monitor

[Service]
Type=simple
ExecStart=/bin/bash %h/.dotfiles/scripts/battery-monitor.sh
Restart=always
RestartSec=10
KillMode=process
IgnoreSIGPIPE=no
RemainAfterExit=yes

[Install]
WantedBy=default.target
